/*      TABLET       */
@media (min-width:481px) and (max-width: 1024px){
nav .logo > .t-light,
nav .logo > .tl-light{
    font-size: 20px;
}
.container{
    width: 100%;
}
header nav{
    height: 90px;
    padding: 0 16px;
}
nav .info > .head-ul > li{
    padding: 5px;
}
#banner{
    height: 720px;
}
.text-arrival .show-content{
    margin-left: 16px;
}
.view-detail{
    padding: 15px;
    transform: translate(0% , -90%);
}
#new-arrival{
    height: 600px;
}
#on-sale{
    height: 80vh;
    width: 100%;
}
#on-sale .goods{
    width: 100%;
}
#about{
    height: 80vh;
}
#about .about-content .center{
    top: 40%;
    padding: 0 15%;
}
#contact{
    height: 65vh;

}
.text-input{
    font-size: 0.9rem;
}


#footer{
    height: 60vh;
}
#source {
    height: 15vh;
}
#source .on-center{
    width: 90%;
    margin: auto;
}

}



/*      MOBILE       */
@media only screen and (max-width: 480px){
    nav .logo > .t-light,
    nav .logo > .tl-light{
        font-size: 25px;
        transform: translateY(25%);
    }
    nav .container{
        display: block;
    }
    .container .info > ul{
        display: block;
    }
    .container .info{
        text-align: left;
    } 
    header{
        width:100vw;
    }
    header nav{
        height: 50px;
        background-color: #000;
        overflow: hidden;
        max-width: 100%;
    }
    .container input{
        width: 90%;
    }
    #social{
        /* display: none; */
    }
    #mess{
        display: none;
    }
    #mobile-menu{
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        background: #ccc;
        padding: 16px 16px;
    }
    #banner{
        height: 100vh;
        max-width: 100%;
        width: 100%;
    }
    #banner h1{
        font-size: 40px;
        text-align: center;
    }
    #shop-now{
        width: 30%;
        display: flex;
        justify-content: center;
    }
    #shop-now a{
        font-size: 1rem;
        padding: 0;
        margin: 0;
        text-align: center;
    }
    #new-arrival{
        max-width: 100%;
        height: 70vh;
    }
    #new-arrival .text-arrival h1{
        font-size: 1.7rem;
        margin-bottom: 25px;
    }
    #demo-pic{
        max-width: 100%;
    }
    #on-sale{
        /* width: 137%; */
        max-width: 100%;
        padding: 50px 0;
        /* overflow: hidden; */
        position: relative;
    }
    #on-sale .goods{
        flex-direction: column;
        width: 100%;
        margin: auto;
        align-items: center;
        padding: 50px 0;
    }
    #on-sale h1{
        font-size: 50px;
    }
    #on-sale h2{
        font-size: 35px;
    }
    .item-g{
        width: 100%;
        margin-top: 16px;
    }
    .item-g img{
        width: 100%;
    }
    #on-sale .sale{
        text-align: center;
    }
    .view-detail{
        transform: translate(15%, -80%);
    }
    #about{
        max-width: 100%;
    }
    #about .about-content{
        width: 100%;
    }
    #about .about-content .center{
        padding: 0 10%;
    }
    #contact{
        max-width: 100%;
    }
    #contact .container-c{
        width: 100%;
        display: block;
        height: fit-content;
    }
    .text-contact,
    .info-contact{
        width: 100%;
    }
    .container-c .text-contact{
        text-align: center;
        margin-top: 50px;
    }
    .info-contact .send button{
        width: 100%;
    }
    .info-contact .outline{
        width: 80%;
        margin: auto;
    }
    #footer{
        max-width: 100%;
    }
    #footer h1{
        font-size: 70px;
    }
    #footer h2{
        font-size: 20px;
    }
    #footer input{
        padding: 24px;
    }
    #footer a{
        padding: 24px;
    }

    #source{
        max-width: 100%;
    }
    #source .on-center{
        width: 96%;
        margin: auto;
    }
    #source .s-left,
    #source .s-right{
        width: 50%;
    }

    #source .s-right ul{
        display: block;
        text-align: center;
    }








}